<!DOCTYPE html>
<html ng-app="regoApp">
<head>
  <meta charset="utf-8">
    <title>Regex Tester Golang - A Go regular expression online tester</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Regex Tester Golang - A Go regular expression online tester">
    <meta name="author" content="Luke Mauldin">

  <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- rego CSS -->
  <link href="/assets/css/rego.css" rel="stylesheet" media="screen">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53939402-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body ng-controller="mainCtrl">
  <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Regex Tester - Golang</h1>
        A secure regular expression tester built using <a href="http://golang.org" target="_blank">Go</a>
      </div>
      <div class="row">
        <form id="regexpForm" class="col-md-6">
          <label>Your regular expression :</label>
          <input id="regexpInput" ng-model="regexpInput" ng-keyup="evaluateRegex()" type="text" placeholder="r([a-z]+)go" />

          <label>Test string :</label>
          <textarea id="testStringInput" ng-model="stringInput" ng-keyup="evaluateRegex()" rows="5" cols="20" placeholder="rego">rego</textarea>

          <label class="checkbox">
            <input id="findAllSubmatchCheckbox" ng-model="findAllSubmatch" ng-change="evaluateRegex()" type="checkbox" ng-true-value="true" ng-false-value="false"> Find all submatches
          </label>

          <button id="clearAllFieldsButton" class="btn btn-warning" type="button" ng-click="clearAllFields()">Clear all fields</button>
        </form>
        <form class="col-md-6">
          <label>Match :</label>
          <div id="match" class="well">
              <div ng-show="error !== ''">
                  <span class="text-danger">{{ error }}</span>
              </div>
              <div ng-show="error === ''">
                  <span style="color: green">{{ matchResult }}</span>
              </div>
          </div>

          <label>Match groups :</label>
          <table id="matchGroupsTable" class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Group Name</th>
                <th>Group Match</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in matches">
                    <td>
                        {{ match.count }}
                    </td>
                    <td>
                        {{ match.groupName }}
                    </td>
                    <td>
                        {{ match.matchText }}
                    </td>
                </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="row">
          <div class="well well-sm" style="margin-top: 15px">
              <i>All of your data is secured via HTTPS and is never logged or stored on the server.</i>
          </div>
      </div>
      <div class="row">
        <div id="quickref" class="well">
          <h3>Go RegExp Quick Reference (<a href="http://rubular.com/" target="_blank">&#0169; Rubular</a>)</h3>
          <div style="float:left">
            <table>
              <tbody>
                <tr>
                  <td><code>[abc]</code></td>
                  <td>A single character of: a, b or c</td>
                </tr>
                <tr>
                  <td><code>[^abc]</code></td>
                  <td>Any single character except: a, b, or c</td>
                </tr>
                <tr>
                  <td><code>[a-z]</code></td>
                  <td>Any single character in the range a-z</td>
                </tr>
                <tr>
                  <td><code>[a-zA-Z]</code></td>
                  <td>Any single character in the range a-z or A-Z</td>
                </tr>
                <tr>
                  <td><code>^</code></td>
                  <td>Start of line</td>
                </tr>
                <tr>
                  <td><code>$</code></td>
                  <td>End of line</td>
                </tr>
                <tr>
                  <td><code>\A</code></td>
                  <td>Start of string</td>
                </tr>
                <tr>
                  <td><code>\z</code></td>
                  <td>End of string</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div style="float:left">
            <table>
              <tbody>
                <tr>
                  <td><code>.</code></td>
                  <td>Any single character</td>
                </tr>
                <tr>
                  <td><code>\s</code></td>
                  <td>Any whitespace character</td>
                </tr>
                <tr>
                  <td><code>\S</code></td>
                  <td>Any non-whitespace character</td>
                </tr>
                <tr>
                  <td><code>\d</code></td>
                  <td>Any digit</td>
                </tr>
                <tr>
                  <td><code>\D</code></td>
                  <td>Any non-digit</td>
                </tr>
                <tr>
                  <td><code>\w</code></td>
                  <td>Any word character (letter, number, underscore)</td>
                </tr>
                <tr>
                  <td><code>\W</code></td>
                  <td>Any non-word character</td>
                </tr>
                <tr>
                  <td><code>\b</code></td>
                  <td>Any word boundary</td>
                </tr>
              </tbody>
            </table>
          </div>

          <table>
            <tbody>
              <tr>
                <td><code>(...)</code></td>
                <td>Capture everything enclosed</td>
              </tr>
              <tr>
                <td><code>(a|b)</code></td>
                <td>a or b</td>
              </tr>
              <tr>
                <td><code>a?</code></td>
                <td>Zero or one of a</td>
              </tr>
              <tr>
                <td><code>a*</code></td>
                <td>Zero or more of a</td>
              </tr>
              <tr>
                <td><code>a+</code></td>
                <td>One or more of a</td>
              </tr>
              <tr>
                <td><code>a{3}</code></td>
                <td>Exactly 3 of a</td>
              </tr>
              <tr>
                <td><code>a{3,}</code></td>
                <td>3 or more of a</td>
              </tr>
              <tr>
                <td><code>a{3,6}</code></td>
                <td>Between 3 and 6 of a</td>
              </tr>
            </tbody>
          </table>

          <div id="quickrefFooter">
            <p>
              Full syntax reference at <a href="http://code.google.com/p/re2/wiki/Syntax" target="_blank">http://code.google.com/p/re2/wiki/Syntax</a>. Go RegExp doc at <a href="http://golang.org/pkg/regexp/" target="_blank">http://golang.org/pkg/regexp/</a>.
            </p>
            <!--
            <p>
              options:
                <code>i</code> case insensitive
                <code>m</code> make dot match newlines
                <code>x</code> ignore whitespace in regex
                <code>o</code> perform #{...} substitutions only once
            </p>
            -->
          </div>
        </div>
      </div>
    </div>

    <div id="push"></div>
    </div>

  <div id="footer">
    <div class="container">
      <p class="muted credit">Built by <a href="https://github.com/lukemauldin" target="_blank">Luke Mauldin</a>. Inspired by <a href="http://rubular.com/" target="_blank">Rubular</a> and <a href="https://regoio.herokuapp.com/" target="_blank"> Rego</a>. You can find the sources at <a href="https://github.com/lukemauldin/rego" target="_blank">github.com/lukemauldin/rego</a>.</p>
    </div>
  </div>


  <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
  <script type="text/javascript" src="/assets/js/rego.js"></script>


</body>
</html>
